<section class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" *ngIf="loader">
    <section>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </section>
</section>

<section *ngIf="!loader" class="container mx-auto px-4 sm:px-8 mt-16">
    <div class="w-full flex justify-between">
        <div class="flex ">
            <h1 class="text-2xl font-semibold">Inventory</h1>
        </div>
        <div class="flex ">
            <button class="bg-[#000103] px-5 py-2 rounded-md text-sm text-[#FFFEFE]"
                [routerLink]="'/admin/expenses/bills/add'">Create Bill</button>
        </div>
    </div>


    
    <div class="py-8">
        <div class="grid grid-cols-1 ">
            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal overflow-x-auto">
                        <thead>
                            <tr>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    
                                    <div class="flex items-center gap-3  cursor-pointer" (click)="sortData('billNumber')">
                                        <div>
                                            Number 
                                        </div>
                                        <div [ngClass]="{'text-indigo-600': sortBy == 'billNumber'}">
                                            <span class="material-symbols-outlined"  *ngIf="sortOrder == 'asc'" >arrow_upward</span>
                                            <span class="material-symbols-outlined " *ngIf="sortOrder == 'desc'">arrow_downward</span>
                                        </div>
                                  
                                    </div>
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    Vendor
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div class="flex items-center gap-3  cursor-pointer" (click)="sortData('totalAmount')">
                                        <div>
                                            Amount 
                                        </div>
                                        <div [ngClass]="{'text-indigo-600': sortBy == 'totalAmount'}">
                                            <span class="material-symbols-outlined"  *ngIf="sortOrder == 'asc'" >arrow_upward</span>
                                            <span class="material-symbols-outlined " *ngIf="sortOrder == 'desc'">arrow_downward</span>
                                        </div>
                                  
                                    </div>
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    
                                    <div class="flex items-center gap-3  cursor-pointer" (click)="sortData('billDate')">
                                        <div>
                                            Bill Date 
                                        </div>
                                        <div [ngClass]="{'text-indigo-600': sortBy == 'billDate'}">
                                            <span class="material-symbols-outlined"  *ngIf="sortOrder == 'asc'" >arrow_upward</span>
                                            <span class="material-symbols-outlined " *ngIf="sortOrder == 'desc'">arrow_downward</span>
                                        </div>
                                  
                                    </div>
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                   
                                    <div class="flex items-center gap-3  cursor-pointer" (click)="sortData('dueDate')">
                                        <div>
                                            Due Date 
                                        </div>
                                        <div [ngClass]="{'text-indigo-600': sortBy == 'dueDate'}">
                                            <span class="material-symbols-outlined"  *ngIf="sortOrder == 'asc'" >arrow_upward</span>
                                            <span class="material-symbols-outlined " *ngIf="sortOrder == 'desc'">arrow_downward</span>
                                        </div>
                                  
                                    </div>
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                    <div class="flex items-center gap-3  cursor-pointer" (click)="sortData('status')">
                                        <div>
                                            Status
                                        </div>
                                        <div [ngClass]="{'text-indigo-600': sortBy == 'status'}">
                                            <span class="material-symbols-outlined"  *ngIf="sortOrder == 'asc'" >arrow_upward</span>
                                            <span class="material-symbols-outlined " *ngIf="sortOrder == 'desc'">arrow_downward</span>
                                        </div>
                                  
                                    </div>
                                </th>
                                <th
                                    class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of billList | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalBill }">
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm font-bold cursor-pointer"
                                [routerLink]="'/admin/expenses/bills/view/'+data?._id">
                                    <p class="text-gray-900 whitespace-no-wrap">{{data?.billNumber}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{data?.vendor?.name}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{data?.totalAmount}} AED</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm" >
                                    <p class="text-gray-900 whitespace-no-wrap">{{data?.billDate | date:'dd MMMM yyyy'}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">{{data?.dueDate  | date:'dd MMMM yyyy'}}</p>
                                </td>
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <span *ngIf="data?.status == 'Draft'"
                                        class="relative inline-block px-3 py-1 font-semibold text-yellow-500 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full"></span>
                                        <span class="relative">Draft</span>
                                    </span>
                                    <span *ngIf="data?.status == 'Received'"
                                        class="relative inline-block px-3 py-1 font-semibold text-blue-400 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-blue-200 opacity-50 rounded-full"></span>
                                        <span class="relative">Received</span>
                                    </span>
                                    <span *ngIf="data?.status == 'Partial'"
                                        class="relative inline-block px-3 py-1 font-semibold text-green-400 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                        <span class="relative">Partial</span>
                                    </span>
                                    <span *ngIf="data?.status == 'Paid'"
                                        class="relative inline-block px-3 py-1 font-semibold text-green-800 leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 bg-green-400 opacity-50 rounded-full"></span>
                                        <span class="relative">Paid</span>
                                    </span>
                                </td>
                                
                                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                    <div>
                                        <button mat-icon-button [matMenuTriggerFor]="more">
                                            <span class="material-symbols-outlined cursor-pointer">
                                                more_vert
                                            </span>
                                        </button>
                                        <mat-menu #more="matMenu" xPosition="before">
                                            <!-- <button mat-menu-item [routerLink]="">
                                                <span>Delete Activity</span>
                                            </button> -->
                                            <button mat-menu-item [routerLink]="'/admin/expenses/bills/edit/' + data?._id">

                                                <span>Edit Bill</span>

                                            </button>
                                        </mat-menu>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex justify-between px-5 py-5 bg-white border-t align-middle items-center">
                        <div
                        class="flex flex-col xs:flex-row items-center xs:justify-between          ">
                        <span class="text-xs xs:text-sm text-gray-900">
                            {{pageLimitMessage}}
                                </span>
                    </div>
                        <div>
                            <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                        </div>
                    </div>
                    
                </div>
            </div>
           
        </div>

    </div>
</section>