<div [ngClass]="{
        'bg-[#FFFEFE]': true,
        'min-h-screen': true,
        'w-56': open,
        'w-16': !open,
        'duration-500': true,
        'text-[#9393a0]': true,
        'px-4': true
      }">
  <div class="py-3 flex justify-end">
    <span class="cursor-pointer" (click)="toggleMenu()">
      <i class="material-symbols-outlined">menu</i>
    </span>
  </div>
  <div class="flex flex-col gap-4 relative mt-4">
    <a *ngFor="let menu of menus; let i = index">
      <div (click)="openSubmenu(i, false)" routerLinkActive="bg-[#F3F5FC] text-[#000103]"
        [routerLinkActiveOptions]="{exact: true}" [routerLink]="menu.link"
        class="cursor-pointer group flex justify-between items-center text-desc gap-3.5 p-2 hover:bg-[#F3F5FC] hover:text-[#000103] rounded-md">
        <i class="material-symbols-outlined" style="font-size: 20px;">{{menu.icon}}</i>
        <h2 class="whitespace-pre duration-500" [ngClass]="{'hidden': !open}">{{menu.name}}</h2>
      </div>
      <div *ngIf="menu.hasSubmenu && submenuIndex === i"
        class="cursor-pointer bg-white rounded-md border-gray-100 ml-2 mt-2 z-10">
        <a *ngFor="let submenu of menu.submenus" [routerLink]="submenu.link"
          routerLinkActive="text-black bg-[#BBBBBB] text-opacity-50 bg-opacity-10"
          class="group flex items-center text-sdesc gap-3.5  p-1 hover:bg-[#F3F5FC] hover:text-[#000103] rounded-md mb-1"
          (click)="openSubmenu(i, true); submenu.name == 'Log Out' ? onClickLogOut() : ''">
          <i class="material-symbols-outlined" style="font-size: 20px;">{{submenu.icon}}</i>
          <h2 class="whitespace-pre duration-500" [ngClass]="{'hidden': !open}">{{submenu.name}}</h2>
        </a>
      </div>
    </a>
  </div>


</div>