
.material-symbols-rounded {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
  }
  :host ::ng-deep .ng-select .ng-select-container{
     
    color: #333;
    background-color: #fff;
    border: 0px solid #9CA3AF;
    max-height: 15px !important;
    align-items: center;
  
  }
  
  :host ::ng-deep .productSelect .ng-select .ng-select-container{
     
      color: #333;
      background-color: #fff;
      border-radius: 4px;
      border: 2px solid #9CA3AF;
      min-height: 36px;
      align-items: center;
      min-width: 300px;
    
  }
  
  
  
  mat-form-field {
    width: 100% !important;
    // background: white;
  
  }
  :host ::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 0;
    background: white;
    border-radius: 6px;
    border: 2px solid #E5E7EB;
  }
  
  .scrollable {
    overflow-x: auto;
    max-width: 100%;
  }
  
  .extraSelect{
    input{
      color: #333;
      background-color: #fff;
      border-radius: 4px;
      border: 2px solid #9CA3AF;
      min-height: 36px;
      align-items: center;
      min-width: 300px;
    }
  }
  
  
  :host ::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 45px !important;
  }
  