
<section class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" *ngIf="loader">
    <section>
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

    </section>
</section>

<section *ngIf="!loader">
    <form [formGroup]="createCustomerForm" class="w-full">

        <div class="w-full  px-4 mx-auto " [ngClass]="isPopUp ? 'mt-0' : 'mt-16'">
            <h1 class="text-2xl font-semibold mb-4">Create Customer</h1>
            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <label class="text-sm font-medium">Name<span class="text-[#FA003F]">*</span></label>
                    <div class="mb-4">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md  mt-2 bg-white">
                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                badge
                            </span>
                            <input class="pl-2 pt-1 outline-none border-none w-full" formControlName="name" type="text"
                                name="" id="" placeholder="Enter Customer Name" />
                        </div>
                    </div>


                </div>
                <div>
                    <label class="text-sm font-medium">Email</label>
                    <div class="mb-4 ">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md mt-2 bg-white">

                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                mail
                            </span>
                            <input class="pl-2 pt-1 outline-none border-none w-full" formControlName="email" type="email"
                                name="" id=""  placeholder="Enter Email" />
                        </div>

                    </div>

                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <label class="text-sm font-medium">Tax Number</label>
                    <div class="mb-4">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md  mt-2 bg-white">
                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                percent
                            </span>
                            <input class="pl-2 pt-1 outline-none border-none w-full" formControlName="taxNumber" type="text"
                                name="" id="" placeholder="Enter Tax Number" />
                        </div>
                    </div>


                </div>
                <div>
                    <label class="text-sm font-medium">Phone</label>
                    <div class="mb-4 ">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md mt-2 bg-white">

                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                call
                            </span>
                            <input class="pl-2 pt-1 outline-none border-none w-full" formControlName="phone" type="number"
                                name="" id=""  placeholder="Enter Phone Number" />
                        </div>

                    </div>

                </div>
            </div>

            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    <label class="text-sm font-medium">Website</label>
                    <div class="mb-4">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md  mt-2 bg-white">
                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                captive_portal
                            </span>
                            <input class="pl-2 pt-1 outline-none border-none w-full" formControlName="website" type="text"
                                name="" id="" placeholder="Enter Website" />
                        </div>
                    </div>


                </div>
                <div>
                    <div class="md:mt-12 md:ml-10 md:mb-0 mb-4">
                        <label class="relative inline-flex items-center cursor-pointer ">
                            <input type="checkbox" value="" class="sr-only peer" formControlName="enabled">
                            <div
                                class="w-11 h-6 bg-gray-200 rounded-full peer   dark:bg-[#FA003F] peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-green-400">
                            </div>
                            <span *ngIf="createCustomerForm.controls.enabled.value"
                                class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-900">Enable Customer</span>
                            <span *ngIf="!createCustomerForm.controls.enabled.value"
                                class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-900">Disable Customer</span>
                        </label>
                    </div>
               
                </div>
            </div>

            <div class="grid md:grid-cols-1 gap-4">
                <div>
                    <label class="text-sm font-medium">Address</label>
                    <div class="mb-4">
                        <div class="flex items-center border-2 py-3 pb-4 px-3 rounded-md  mt-2 bg-white">
                            <span class="material-symbols-outlined h-6 w-6 text-gray-400">
                                local_post_office
                            </span>
                            <textarea class="pl-2 pt-1 outline-none border-none w-full" formControlName="address" type="text"
                                name="" id="" placeholder="Enter Address" ></textarea>
                        </div>
                    </div>


                </div>

            </div>

            <div class="flex justify-end">
                <button class="bg-[#000103] px-8 py-3 rounded-md text-sm text-[#FFFEFE] disabled:opacity-25" [disabled]="createCustomerForm.invalid || clicked"
                    (click)="createCustomer();clicked = true">Create Customer</button>
            </div>


        </div>
    </form>
</section>