::ng-deep .confirmDialog{
    mat-dialog-container {
        padding: 0px !important;
        min-height: 30%;
        border-radius: 10px;  
        padding: 0px !important;
        margin: 0px !important;
    }
}