<div >
    <div class="bg-white  min-w-[24rem]">
        <div class="w-full border-t-8 border-black rounded-lg flex p-4">
            
            <div class="w-full pt-9 pr-4">
                <h3 class="font-bold text-black">{{data.title}}</h3>
                <p class="py-4 text-sm text-gray-400">{{data.message}}</p>
            </div>
        </div>

        <div class="p-4 flex space-x-4">
            <a [mat-dialog-close]="false"
                class="w-1/2 px-4 py-3 text-center cursor-pointer bg-gray-100 text-gray-400 hover:bg-gray-200 hover:text-black font-bold rounded-lg text-sm">{{data.cancelCaption}}</a>
            <a [mat-dialog-close]="true"
                class="w-1/2 px-4 py-3 text-center cursor-pointer text-white  bg-black bg-opacity-80 rounded-lg hover:bg-black  hover:text-white font-bold text-sm">
                {{data.confirmCaption}}</a>
        </div>
    </div>
</div>